# Database Configuration
# Local SQLite default (Zero setup needed)
DATABASE_URL="file:./dev.db"

# Production PostgreSQL example:
# DATABASE_URL="postgresql://user:password@localhost:5432/maximumpixel?schema=public"

# SMTP Email SMTP Configuration (Gmail Example)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="hello.maximumpixel@gmail.com"
SMTP_PASS="your-16-char-app-password"
CONTACT_RECEIVER_EMAIL="hello.maximumpixel@gmail.com"
ADMIN_PASSWORD="maximumpixel2025"

# Base Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
